PORT=3001
DATABASE_NAME=eduscout
DATABASE_PASSWORD=postgres
DATABASE_USER=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eduscout?client_encoding=utf8
